<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="mass_scanner" value="0.0100"/>
    <xacro:property name="radius_scanner" value="0.0300"/>
    <xacro:property name="length_scanner" value="0.0275"/>
    <!-- Calculated inertial properties -->
    <xacro:property name="ixx" value="${(1/12.0) * mass_scanner * (3 * pow(radius_scanner, 2) + pow(length_scanner, 2))}"/>
    <xacro:property name="iyy" value="${(1/12.0) * mass_scanner * (3 * pow(radius_scanner, 2) + pow(length_scanner, 2))}"/>
    <xacro:property name="izz" value="${0.5 * mass_scanner * pow(radius_scanner, 2)}"/>
    
    <!-- Wheel macro -->
    <xacro:macro name="laser_scanner" params="name color">
        <link name="${name}">
            <visual>
                <geometry>
                    <!-- <cylinder radius="${radius_scanner}" length="${length_scanner}"/> -->
                    <mesh filename="package://barista_robot_description/meshes/hokuyo_urg_04lx.dae" scale="1.0 1.0 1.0"/>
                </geometry>
                <material name="${color}"/>
            </visual>

            <collision>
                <geometry>
                    <cylinder radius="${radius_scanner}" length="${length_scanner}"/>
                </geometry>
            </collision>

            <inertial>
                <mass value="${mass_scanner}"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="${ixx}" iyy="${iyy}" izz="${izz}" ixy="0" iyz="0" ixz="0"/>
            </inertial>

        </link>        
        <gazebo reference="${name}">
            <material>Gazebo/${color}</material>
        </gazebo>    
    </xacro:macro>
</robot>
