<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="standoff_rods" params="name color">
    <xacro:property name="radius_rods" value="0.010"/>
    <xacro:property name="width_rods" value="0.220"/>
    <xacro:property name="mass_rods" value="0.1000"/>
    <!-- Calculated inertial properties -->
    <xacro:property name="ixx" value="${(1/12.0) * mass_rods * (3 * pow(radius_rods, 2) + pow(width_rods, 2))}"/>
    <xacro:property name="iyy" value="${(1/12.0) * mass_rods * (3 * pow(radius_rods, 2) + pow(width_rods, 2))}"/>
    <xacro:property name="izz" value="${0.5 * mass_rods * pow(radius_rods, 2)}"/>

        <link name="${name}">
            <visual>
                <geometry>
                    <cylinder radius="${radius_rods}" length="${width_rods}"/>
                </geometry>
                <material name="${color}"/>
            </visual>
            <collision>
                <geometry>
                    <cylinder radius="${radius_rods}" length="${width_rods}"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="${mass_rods}"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <inertia ixx="${ixx}" iyy="${iyy}" izz="${izz}" ixy="0" iyz="0" ixz="0"/>
            </inertial>
        </link>
        <gazebo reference="${name}">
            <material>Gazebo/${color}</material>
        </gazebo>
    </xacro:macro>
</robot>
