<?xml version="1.0" ?>
<robot name="barista_bot">
  <material name="Blue">
    <color rgba="0.0 0.0 1.0 1"/>
  </material>

  <link name="base_link"/>
  <link name="base_plate_link">
    <visual>
      <geometry>
        <cylinder length="0.155" radius="0.178"/>
      </geometry>
      <material name="Blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.155" radius="0.178"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.007938466666666666" ixy="0" ixz="0" iyy="0.007938466666666666" iyz="0" izz="0.0126736"/>
    </inertial>
  </link>
  <gazebo reference="base_plate_link">
    <material>Gazebo/Blue</material>
  </gazebo>
  <joint name="base_link_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="base_link"/>
    <child link="base_plate_link"/>
  </joint>
</robot>
